@page "/"

<div class="wrapper">
    <div class="content">

        <div style="margin: 20px 0; display: flex; ">
            <button @onclick="@PrintText">Print Text</button>
            <button @onclick="@PrintHtml" style="margin-left: 10px">Print Html</button>
            <button @onclick="@LoadHtml" style="margin-left: 10px">Load Html</button>
            <button @onclick="@ToggleEnabled" style="margin-left: 10px">@(_isEnabled ? "Disable" : "Enable")</button>
            <button @onclick="@PrintLength" style="margin-left: 10px">Print Length</button>
            <button @onclick="@SetPlaceholder" style="margin-left: 10px">Set Placeholder</button>
        </div>
        
        <div class="toolbar-wrapper">
            <QuillToolbar Id="@ToolbarId" Class="toolbar">
                <QuillToolbarGroup>
                    <QuillToolbarSelect 
                        Format="@QuillFormat.Header" 
                        Values="@QuillValue.Headers"/>
                </QuillToolbarGroup>
                <QuillToolbarGroup>
                    <QuillToolbarButton Format="@QuillFormat.Bold"/>
                    <QuillToolbarButton Format="@QuillFormat.Italic"/>
                    <QuillToolbarButton Format="@QuillFormat.Underline"/>
                    <QuillToolbarButton Format="@QuillFormat.Strikethrough"/>
                </QuillToolbarGroup>
                <QuillToolbarGroup>
                    <QuillToolbarButton
                        Format="@QuillFormat.List"
                        Value="@QuillValue.OrderedList"/>
                    <QuillToolbarButton
                        Format="@QuillFormat.List"
                        Value="@QuillValue.BulletList"/>
                </QuillToolbarGroup>
            </QuillToolbar>
        </div>

        <div class="editor-wrapper">
            <QuillEditor 
                @ref="@_editor" 
                ToolbarId="@ToolbarId" 
                Options="@_options" 
                Class="editor"
                OnTextChange="@OnTextChanged"/>
        </div>

        <div style="margin-top: 20px; color: @_currentColor">
            <span>Length: @_currentLength / @MaxLength</span>
        </div>
        
    </div>
</div>


@code
{
    private const string ValidColor = "#9EABB4";
    private const string ErrorColor = "#FBA6A6";
    
    private const string ToolbarId = "toolbar";
    private const int MaxLength = 100;

    private readonly QuillOptions _options = new()
    {
        Debug = "warn", // log, info, warn, error
        Placeholder = "Start typing...",
        IsReadOnly = false,
        Theme = "snow" // null, snow, bubble
    };

    private bool _isEnabled = true;
    private int _currentLength;
    private string _currentColor = ValidColor;
    
    private QuillEditor _editor = null!;

    private async Task PrintText()
    {
        var text = await _editor.GetText();
        Console.WriteLine(text.Trim());
    }

    private async Task PrintHtml()
    {
        var html = await _editor.GetHtml();
        Console.WriteLine(html.Trim());
    }

    private async Task LoadHtml()
    {
        const string html = "<p>Loaded <strong>HTML</strong>!</p>";
        await _editor.LoadHtml(html);
    }

    private async Task ToggleEnabled()
    {
        if (_isEnabled)
        {
            await _editor.Disable();
        }
        else
        {
            await _editor.Enable();
        }
        
        _isEnabled = !_isEnabled;
    }

    private async Task PrintLength()
    {
        var length = await _editor.GetLength();
        Console.WriteLine($"Length: {length}");
    }

    private async Task SetPlaceholder()
    {
        await _editor.SetPlaceholder("This is a different placeholder!");
    }

    private async Task OnTextChanged(QuillTextChangeEventArgs args)
    {
        _currentLength = await _editor.GetLength() - 1;
        _currentColor = _currentLength > MaxLength ? ErrorColor : ValidColor;
    }
}
